<p>Dear &nbsp;<strong>${NAME}</strong>,</p>
<p>Thank you for registering on the MedRep Platform. In order to maintain an optimal user experience for all our Doctors, we typically run a Verification Process from our end to ensure that each user is a Registered Doctor with the MCI. Please allow a turnaround time of 24 to 48 hours for our team to activate your account.</p>
<p>Regards,</p>
<p>MedRep Team</p>